@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
@layer utilities {
  .bg-custom-image {
    background-image: url('/pe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
  }
}
=======
>>>>>>> 21e00578808249a92bd2e81ae8ab937f11e5ed47
