@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-image {
    background-image: url('/pe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
  }
}
