@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-image {
    background-image: url('/pe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
  }
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #426fb3;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



